body{
  background-image: url(../src/images/BackgroundWhite.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-sizing: border-box;
  

}